name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: DeterminateSystems/nix-installer-action@v4
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v12
      with:
        name: rix101
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix flake check -vL
    # - run: nix build
    # - run: nix-shell --run "echo OK"
